DirectoryIndex index.php
RewriteEngine On 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php

AuthType Basic
AuthName "Protected"
AuthUserFile /etc/htpasswords
Require user ombudev cartalk
Order deny,allow
Deny from all
Satisfy any